<!-- Contact Form using Formspree -->
<form action="https://formspree.io/f/movqwjjg" method="POST" class="contact-form mt-4">
    <div class="mb-3">
      <label for="email">Your email:</label><br>
      <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="message">Your message:</label><br>
      <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-dark mt-3">Send</button>
  </form>